@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

h1 {
  font-size: 64px;
  line-height: 74px;
  font-weight: 600;
}

h2 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 600;
}

h3 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
}

body {
  background-color: #fbfbfb;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #111111;
}

.bold {
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
}

.small {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.small-bold {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}

.text-border {
  color: #fbfbfb;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #363636;
}

.active {
  background-color: #e7e7e7;
  color: #111111;
  font-weight: 700;
}
